//# is because menuTitle is an id not a class, for a class use .
#menuTitle{
  font-size: medium;
  margin-right: 20px;
}
.mat-sidenav{
  background-color: #3F51B5;
  width: 160px;

}
.mat-toolbar{
  height: 65px;
}

.toolbar{
  background-color:#3F51B5;
  color: white;
}
#menuIcon{
  color: white;
}
@media(min-width: 900px){
  #menuIcon{
    display: none;
  }
  .mat-sidenav{
    display: none;
  }
}
@media(max-width: 900px){
  .top-menu-item{
    display: none;
  }
}
.top-menu-item{
  color: white !important;
}
.side-nav-item{
  display: flexbox;
  flex-direction:row-reverse;
}
.side-menu-item{
  color: white !important;
  margin-top: 20px;
}
.main-content{
  margin: 20px;
}
